.second-con{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: azure;
    margin-top: 0.5rem;
}
.heading-2{
    font-size: 3.555rem;
    align-items: center;
    margin-top: 10rem;
    padding-left: 10rem;
    
}
.smart-TVs-2{
    font-size: 1.5rem;
    padding-left: 10rem;
    margin-top: 1rem;

}
.assets-2{
   padding-right: 8rem;
   height: 100%;
   width: 100rem;
}
.kids{
    padding-bottom: 8rem;
}