.offine{
    font-size: 3rem;
    align-items: center;
    margin-top: 8rem;
    padding-right: 10rem;
}
.acquisition{
    padding-left: 5rem;

}
.easily {
    font-size: 1.5rem;
    padding-right: 5rem;
    margin-top: 1rem;
}
.stranger{
    margin-top: 6.5rem;

}
.blue{
    color: blue;
   font-size: 1.111rem;


}